<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>sina</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="top-nav">
        <div class="tn-nav-l">
          <div class="tn-title">设为首页</div>
          <div class="tn-title">手机新浪网</div>
          <div class="tn-title web-mobile">移动客户端▽
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
        </div>
        <div class="tn-person-r">
          <div class="tp-title">登录</div>
          <div class="tp-title tp-weibo">微博▽
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="tp-title tp-blog">博客▽
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="tp-title tp-email">邮箱▽
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="tp-title">网站导航</div>
        </div>
      </div>
    </div>
    <div class="top-search">
      <div class="logo">logo</div>
      <div class="search-box"></div>
      <div class="weather-box"></div>
      <div class="gov-ads"></div>
    </div>
    <div class="main-nav-wrap">
      <div class="main-nav">
      <div class="nav-col-1 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-2 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-3 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-4 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-5 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-6 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
      <div class="nav-col-7 nav-col">
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
        <ul>
          <li>新闻</li>
          <li>新闻</li>
          <li>新闻</li>
        </ul>
      </div>
    </div>
  </div>
    <div class="ads top-ads-wrap">
      <div class="top-ads">
        <ul class="ta-words-top">
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
        </ul>
        <div class="ta-pic"></div>
        <ul class="ta-words-bottom">
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
          <li>吃湘楼盘TOP100</li>
        </ul>
      </div>
    </div>
  </header>
  <article id='content'>
    <div class="blank"></div>
    <section class="cont-box-1">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-2">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-3">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-4">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-5">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-6">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-7">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-8">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-9">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-10">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-11">
      <section class="cb-box-1 cb-box"></section>
      <section class="cb-box-2 cb-box"></section>
      <section class="cb-box-3 cb-box"></section>
    </section>
    <div class="blank"></div>
    <section class="cont-box-12">
      <section class="cb-box"></section>
    </section>
    <div class="blank"></div>
  </article>
  <footer id='footer'>
    <div class="ft-cities"></div>
    <div class="blank"></div>
    <div class="ft-ads"></div>
    <div class="blank"></div>
    <div class="ft-info"></div>
    <div class="blank"></div>
    <div class="ft-copy">Copyright ©1996-2015 SINA Corporation, All Rights Reserved</div>
    <div class="blank"></div>
    <div class="ft-list"></div>
    <div class="blank"></div>
    <div class="ft-other">
      <p>隐私保护　新浪公司　版权所有　京ICP证000007</p>
      <p>客户服务热线：4006900000　违法和不良信息举报电话：010-62646869　举报邮箱：jubao@vip.sina.com</p>
      <br><br>
      <p>京网文[2014]2045-295号　互联网新闻信息服务许可</p>
      <p>国家药监局（京）-经营性-2014-0004　京教研[2002]7号　电信业务审批[2001]字第379号</p>
      <p>增值电信业务经营许可证B2-20090108　电信与信息服务业务经营许可证000007号　京卫网审[2014]第0148号</p>
      <p>广播电视节目制作经营许可证（京）字第828号 甲测资字1100078 京公网安备110000000016号</p>
    </div>
  </footer>
</body>
</html>
